@import url(./root.css);

.transition {
    transition: all .3s linear;
}

.btn-signin:hover {
    color: var(--color-red);
    border: 2px var(--color-red) solid !important;
}

.btn-signin {
    border: 2px transparent ;
    width: 100px;
    height: 40px;
}

.w-70 {
    width: 70% !important;
}
.line-1-1 {
    transform-origin: left;
    transform: rotate(35deg);
    transition: all .4s linear;
  }
  .line-2 {
    background-color: transparent !important;
  }
  .line-3 {
    transform-origin: left;
    transform: rotate(-35deg);
    transition: all .4s linear;
  }

@media (max-width:992px) {
    .nav-links {
        display: flex;
        flex-direction: column;
        background-color: white !important;
        width: 50% !important;
        height: 100%;
        position: fixed;
        justify-content: center !important;
        gap: 20px;
    
        left: -100% !important;
        align-items: center;
        top: 0%;
        z-index: 2;
        transition: all .5s linear !important;
    }

    .show-nvabar {
        left: 0 !important;
    }

    .menu-btn {
        width: 35px;
        align-content: center;
        background: none;
        display: block;
        z-index: 3;
    }

    .line {
        height: 4px;
        display: flex;
        margin: 4px;
        background: red;

    }

    .line-1 {
        width: 13px;
    }
}